<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:name=".FacePredictorApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FacePredictor"
        tools:targetApi="31">

        <!-- Login Activity -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.FacePredictor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Activity -->
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.FacePredictor" />

        <!-- Main Activity -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.FacePredictor" />

        <!-- Camera Activity -->
        <activity
            android:name=".ui.camera.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FacePredictor" />

        <!-- Realtime Camera Activity -->
        <activity
            android:name=".ui.camera.RealtimeCameraActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FacePredictor" />

        <!-- Prediction Result Activity -->
        <activity
            android:name=".ui.prediction.PredictionResultActivity"
            android:exported="false"
            android:theme="@style/Theme.FacePredictor" />

        <!-- History Activity -->
        <activity
            android:name=".ui.history.HistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.FacePredictor" />

        <!-- Model Info Activity -->
        <activity
            android:name=".ui.main.ModelInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.FacePredictor" />

        <!-- Logs Activity -->
        <activity
            android:name=".ui.main.LogsActivity"
            android:exported="false"
            android:theme="@style/Theme.FacePredictor" />

        <!-- File Provider for camera photos -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
